df-messenger {
    --df-messenger-bot-message: #001049;
    --df-messenger-button-titlebar-color: #000000;
    --df-messenger-chat-background-color: #f1f1f1;
    --df-messenger-font-color: rgb(255, 255, 255);
    --df-messenger-send-icon: #001049;
    --df-messenger-user-message: #22c76c;
   }

