@import url("../fonts/fonts.css");
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i&amp;display=swap');
@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed:400,500,600,700,800&amp;display=swap');

html,body {
    font-family: 'Roboto';
    /* font-family: 'Barlow Condensed'; */
    scroll-behavior: smooth;
}

header {
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 20px;
}

section {
    margin: 0 1em;
    /* width: 100%; */
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 92px 280px 50px;
    grid-template-areas: "image" "text" "mail";
    border-radius: 25px;
    background: #e8ecff;
    box-shadow: 5px 5px 15px rgb(0, 0, 0);
    /*! font-family: Info; */
    text-align: center;
    transition: all .7s;
    margin: 30px;
    /*! color: color: #fff; */
    overflow: hidden;
    border: 2px solid #fff;
}

.card-image {
    grid-area: image;
  }
  .card-text {
    grid-area: text;
  }
  .card-mail {
    grid-area: mail; 
  }

  .card-image {
    grid-area: image;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    overflow: hidden;
    background-color: #140037;
  }

  .card-image img {
    margin-top: 1vh;
    width: 28%;
  }

  .card-text {
    grid-area: text;
    margin: 25px;
  }
  
  .card-text p {
    color: rgb(87, 87, 87);
    font-size:15px;
    font-weight: 300;
    margin: 5px;
    color: #140037;
  }
  .card-text h2 {
    margin-top:0px;
    margin-bottom: 4vh;
    font-size:28px;
    color: #140037;
  }

  .card-mail {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: #140037;
  }

  .card-mail a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding:15px;
    text-decoration: none;
    transform: all 0.5s;
  }

  .card:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0,0,0,.7);
  }

  .card-mail:hover{
    background: #33297d;
    /*! color: #bf0000; */
  }

main {
    margin: 10vh 20%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  padding-left: 30px;
  left: 2px;
  /* margin: 46px; */
  padding-right: 20px;
}

.nav-header {
  z-index: 50;
  overflow: hidden;
  position: sticky;
  top: 10px;
  border-radius: 5px;
  /* border: 2px solid; */
  position: relative;
  top: -8px;
}
nav {
  background-image: url("../img/liston_pag.png");
  background-size: cover;
  height: 65px;
  display: flex;
  /* justify-content: space-evenly; */
  align-items: center;
  color: white;
  /* border: 2px solid; */
  border-radius: 5px;
  width: 95%;
  /* margin: auto; */
}

.nav-header {
  z-index: 50;
  overflow: hidden;
  position: sticky;
  top: 10px;
  border-radius: 5px;
  /* border: 2px solid; */
  position: relative;
  top: -8px;
  height: 75px;
}