@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i&amp;display=swap');
@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed:400,500,600,700,800&amp;display=swap');
@import url('../fonts/fonts.css');

:root {
    --morado: #875fff;
}

html,
body {
    /*font-family: 'Roboto';*/
    font-family: 'Barlow Condensed'; 
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(rgb(22 17 60 / 50%), rgb(22 17 60)),
        url('../img/cualtos_auditorio.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*! padding: 5px; */
    padding-left: 25px;
    /*! left: 2px; */
    /*! margin: 46px; */
    padding-right: 25px;
}

.logo_cualtos {
    height: 100px;
    width: auto;
}

header > img {
    height: 60px;
    filter: grayscale(1) brightness(50);
    /*! left: -95px; */
    /*! position: relative; */
}

header, main {
    margin: 0px 8%;
}

nav {
    background-image: url('../img/liston_pag.png');
    background-size: cover;
    height: 65px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    /*! border: 2px solid; */
    border-radius: 5px;
    width: 95%;
    margin: auto;
}

nav a {
    font-size: 20px;
    text-decoration: none;
    color: white;
    transition: all 1s;
}

nav a:hover {
    color: var(--morado)
}

nav a.seleccionado {
    color: var(--morado)
}

nav > div {
    width: 25%;
    text-align: center;
}


.nav-header {
    z-index: 50;
    overflow: hidden;
    position: sticky;
    top: 10px;
    border-radius: 5px;
    /*! border: 2px solid; */
    position: relative;
    top: -8px;
    
    width: 84%;
    margin: auto;
}

nav.nav-header > div {
    width: 33%;
}

nav > div:not(:last-child) {
    border-right: 2px solid white;
}


main {
    text-align: center;
    color: white;
}

main > h1 {
    font-size: clamp(2rem, 6vw, 4rem);
}

main > p {
    font-size: clamp(1rem, 2vw, 2rem);
}

footer {
    display: flex;
    justify-content: space-between;
    background-image: url(../img/liston_pag.png);
    background-size: cover;
    border-top: 1px solid white;
    color: white;
    height: 100px;
    padding: 0 50px;
    align-items: center;
    position: absolute;
    width: 100%;
}

footer > div {
    width: 300px;
}

#footer-logos {
    filter: grayscale(1) brightness(50);
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#footer-logos img {
    height: 60px;
    margin: 0 15px;
}

.icon-text {
    display: flex;
}

.icon-text img {
    /* filter: invert(22%) sepia(80%) saturate(2152%) hue-rotate(208deg)
        brightness(91%) contrast(94%); */
    margin: auto 20px;
    height: 50px;
    /* ! color: blue; */
    /*! background-color: blanchedalmond; */
}

.icon-text > div {
    font-size: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.icon-text > div a {
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.icon-text > div a:hover {
    color: var(--morado);
}

/* Tarjetas */
.tarjeta {
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    padding: 30px;
    display: inline-block;
    height: 300px;
    width: 350px;
    margin: 10px;
    text-align: center;
}

.tarjeta img.icono {
    width: 50px;
    height: 50px;
}

.expandible, .expandible2 {
    background-color: #140034ab;
    color: #fff;
    text-align: left;
    padding: 17px;
    margin: 25px auto;
    border-radius: 5px;
    box-shadow: 0 0 5px black;
    cursor: pointer;
    border: 2px solid white;
    transition: all 0.7s;
    width: 99%;
    /*! margin: auto; */
    /*! padding: 11px; */
    /*! height: 65px; */
    font-size: 1rem;
}

.expandible a {
    color: #fff;
    text-align: left;
    cursor: pointer;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    width: 100%;
    height: auto;
}

.expandible:hover {
    border-color: var(--morado)
    /*! color: var(--morado) */
}
.masMenos, .MasMenos {
    float: right;
}
.expandible p {
    font-size: 1.2em;
    margin-top: 15px;
}

.expandible ul {
    margin: 15px;
    margin-bottom: 0;
    margin-left: 20px;
}

.expandible li {
    margin-top: 4px;
}

.oculto,.oculto2 {
    display: none;
}


.modal {
    margin: auto;
    justify-content: center;
    position: fixed;
    top: 0;
    left:0;
    width: 100%; height:100%;
    background-color:rgba(0,0,0,0.8);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.modal .img img {
    border-radius: 5px;
}


.modal .cerrar {
    color: #afafaf;
    font-size: 28px;
    font-weight: bold;
    float:right;
    margin-left: 10px;
    margin-top: -10px;
}

.modal .cerrar:hover,
.modal .cerrar:focus {
    text-decoration: none;
    cursor: pointer;
}

li span {
    color: cyan;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
}


@media (max-width: 1000px) {
    header, main {
        margin: 0px 4%;
    }

    .nav-header {
        width: 92%;
    }

    footer {
        flex-direction: column;
        /* padding: 20px 50px; */
        height: auto;
    }

    footer > div {
        margin: 20px;
    }

    #footer-logos {
        position: static;
        transform: none;
    }
}

@media (max-width: 500px) {
    header, main {
        margin: 0px 0%;
    }

    header {
        overflow: auto;
    }

    nav.nav-header {
        margin: 0;
        border-radius: 0px !important;
        width: 100%;
        position: sticky;
        top: 0;
        overflow: auto;
    }

    nav a {
        font-size: 1rem;
    }

    main {
        margin-left: 5% !important;
        margin-right: 5% !important;
    }
}
