@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i&amp;display=swap');
@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed:400,500,600,700,800&amp;display=swap');

html,body {
    font-family: 'Roboto';
    /* font-family: 'Barlow Condensed'; */
    scroll-behavior: smooth;
    
}

main {
    padding-top: 10vh;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 20vh;
}

main > h1 {
    margin-bottom: 4vh;
}

footer {
    bottom: 0;
}