@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i&amp;display=swap');
@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed:400,500,600,700,800&amp;display=swap');

html,body {
    font-family: 'Roboto';
    /* font-family: 'Barlow Condensed'; */
    scroll-behavior: smooth;
    
}

main {
    margin-top: 10vh;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 20vh;
    height: 32vh;
}

main > h1 {
    margin-bottom: 4vh;
}
